<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>DataTable</h1>


            <p-treeTable [value]="(file$ | async)?.data">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of cols">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>

<!--                <ng-template pTemplate="body" let-car let-rowNode let-rowData="'rowData">-->
<!--                    <tr>-->
<!--                        <td *ngFor="let col of cols">-->
<!--                            {{car[col.field]}}{{rowData.label}}-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                </ng-template>-->
            </p-treeTable>

        </div>
    </div>
</div>




<!--<div *ngIf="selectedHero">-->

<!--    <h2>{{selectedHero.name | uppercase}} Details</h2>-->
<!--    <div><span>id: </span>{{selectedHero.id}}</div>-->
<!--    <div>-->
<!--        <label>name:-->
<!--            <input [(ngModel)]="selectedHero.name" placeholder="name"/>-->
<!--        </label>-->
<!--    </div>-->

<!--</div>-->
