<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>DataTable</h1>
            <p-table
                selectionMode="single"
                [value]="(cars$ | async)?.data">


                <ng-template pTemplate="header">
                    <tr>
                        <th style="background-color: #0C4B7F; color: white" *ngFor="let col of cols">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-car>
                    <tr (click)="view(car)" [pSelectableRow]="car">
                        <td *ngFor="let col of cols">
                            {{car[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>
